div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 260px;
    overflow: auto;
  }

  div.galleryplanets {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 260px;
    height: 500px;
    overflow: auto;
    align-items: center;
    text-align: center;
  }
  div.galleryplanets:hover {
    border: 1px solid #777;
  }
  
  div.galleryplanets img {
    height: 200px;
    width: auto;    

  }
  div.galleryplanets:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: justify;

  }
  div.title {
    padding: 15px;
    text-align: center;
    background-color: #3d0066;
    color: seashell;

  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 260px;
    overflow: auto;
  }

  div.galleryconstellations {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 260px;
    height: 430px;
    overflow: auto;
    align-items: center;
    text-align: center;
  }
  div.galleryconstellations:hover {
    border: 1px solid #777;
  }
  
  div.galleryconstellations img {
    height: 200px;
    width: auto;    

  }
  div.galleryconstellations:hover {
    border: 1px solid #777;
  }
  
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 260px;
    overflow: auto;
  }

  div.galleryzodiac{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 260px;
    height: 300px;
    overflow: auto;
    align-items: center;
    text-align: center;
  }
  div.galleryzodiac:hover {
    border: 1px solid #777;
  }
  
  div.galleryzodiac img {
    height: 200px;
    width: auto;    

  }
  div.galleryzodiac:hover {
    border: 1px solid #777;
  }
  